
{%load static%}
<!DOCTYPE html>
<html lang="en" >
<head>
	 {% block head %}{%endblock head %}
  <meta charset="UTF-8">
  <title>MedChem</title>
  
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'><link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
  <!--Nav bar-->
 
  <header class="clearfix">
    <div class="container">
			<div class="header-left">
				<h4>NeuroCa(u)re eLaboratory  </h4>
			</div>
			<div class="header-right">
				<label for="open">
					<span class="hidden-desktop"></span>
				</label>
				<input type="checkbox" name="" id="open">
				<nav>
					<a href="">Home</a>
					<a href="signup/">Signup</a>
					<a href="login/">Login</a>
					<a href="about/">About</a>
					<a href="contact/">Contact</a>
				</nav>
			</div>
		</div>
	</header>
<section class="clearfix">
		<div class="container">
			<div class="section-left">
				<h5 class="section-title" style="font-size:20px;">Web-based Drug Discovery ToolBox. </h5>
			</div>
		</div>
	</section>
<!-- partial -->
 {% block body %}{% endblock body %}
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
   <script src='https://vincentgarreau.com/particles.js/assets/_build/js/lib/particles.js'></script><script  src="{% static 'js/script.js'%}"></script>
 
</body>
</html>
