{%extends 'base.html'%}
{%load static%}
<head>
  <meta charset="UTF-8">
  <title>MedChem</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
 {% block body %}
 <!-- partial:index.partial.html -->
<script  src="{% static 'js/script.js'%}"></script>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><script  src="{% static 'js/script.js'%}"></script>
<div id="particles-js"></div>
<!-- /.particles div -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
      <div class="title-container text-center">
        <br>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"> <strong class="">Login</strong>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form" method="POST" action="">
            <div class="form-group">
              <label for="email" class="col-md-4 control-label">E-Mail Address</label>
              <div class="col-md-6">
                <input id="email" type="email" class="form-control" name="email" value="" required autofocus>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="col-md-4 control-label">Password</label>

              <div class="col-md-6">
                <input id="password" type="password" class="form-control" name="password" required>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6 col-md-offset-4">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="remember"> Remember Me
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-8 col-md-offset-4">
                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>

                <a class="btn btn-link" href="">
                                    Forgot Your Password?
                                </a>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-footer">Not Registered? <a href="#" class="">Register here</a>
        </div>
      </div>
    </div>

  </div><ul id="colors" class="list-inline text-center"></ul>

</div>
</body>

  </div><ul id="colors" class="list-inline text-center"></ul>

</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://vincentgarreau.com/particles.js/assets/_build/js/lib/particles.js'></script><script  src="{% static 'js/script.js'%}"></script>
 
 {% endblock body %}

